Source: com-core
Section: libs
Priority: optional
Maintainer: Sung-jae Park <nicesj.park@samsung.com>, Young-joo Park <yjoo93.park@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev
Standards-Version: 0.1.0

Package: libcom-core
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Light-weight IPC helper library (shared object)

Package: libcom-core-dev
Section: libs
Architecture: any
Depends: libcom-core (= ${Source-Version})
Description: Light-weight IPC helper library (development)

Package: libcom-core-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libcom-core (= ${Source-Version})
Description: Light-weight IPC helper library (unstripped)

